@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif; }

img {
  max-width: 100%; }

section {
  padding: 100px 0;
  width: 100%; }
  section .container {
    margin: auto;
    padding: 0 15px; }
    @media (min-width: 1240px) {
      section .container {
        max-width: 1200px;
        padding: 0; } }
  section .cogno {
    display: flex;
    justify-content: space-between;
    cursor: pointer; }
    section .cogno .cognoTabTitles {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 20px 19px;
      position: relative; }
      section .cogno .cognoTabTitles.active {
        background-color: #fefeff; }
        section .cogno .cognoTabTitles.active .progress {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px; }
        section .cogno .cognoTabTitles.active .progress .progress__bar {
          height: 100%;
          width: 0%;
          animation: fill-bar 3s infinite; }
      section .cogno .cognoTabTitles#tab1.active .progress {
        background-color: #ccadfa; }
      section .cogno .cognoTabTitles#tab1.active .progress .progress__bar {
        background-color: #a26bf8; }
      section .cogno .cognoTabTitles#tab2.active .progress {
        background-color: #f9d1c6; }
      section .cogno .cognoTabTitles#tab2.active .progress .progress__bar {
        background-color: #f4a38b; }
      section .cogno .cognoTabTitles#tab3.active .progress {
        background-color: #f3a4be; }
      section .cogno .cognoTabTitles#tab3.active .progress .progress__bar {
        background-color: #ed4f8a; }
      section .cogno .cognoTabTitles img {
        max-width: 20px; }
      section .cogno .cognoTabTitles h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        padding-left: 15px; }
  section .cognoTabContent {
    padding: 50px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 1s ease;
    transform: translateX(100%); }
    section .cognoTabContent.active {
      display: flex;
      transform: translateX(0); }
    section .cognoTabContent .cognoTablistcontent {
      max-width: 533px;
      width: 100%; }
    section .cognoTabContent p {
      padding-bottom: 40px;
      font-weight: 500;
      font-size: 18px;
      opacity: 0.8;
      color: #000000; }
    section .cognoTabContent ul {
      list-style: none; }
      section .cognoTabContent ul li {
        padding-bottom: 24px;
        padding-left: 45px;
        font-weight: 500;
        font-size: 16px;
        opacity: .8;
        color: #000000;
        position: relative; }
        section .cognoTabContent ul li::before {
          content: url(../images/tick.svg);
          position: absolute;
          left: 0; }
    section .cognoTabContent .cognoTabImage {
      max-width: 487px;
      width: 100%; }

@keyframes fill-bar {
  from {
    width: 0%; }
  to {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
