@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
img{
    max-width: 100%;
}
section{
    padding: 100px 0;
    width: 100%;
    .container{
        margin: auto;
        padding: 0 15px;
        @media (min-width:1240px){
        max-width: 1200px;
        padding: 0;
        }
    }
    .cogno{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .cognoTabTitles{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 14px 20px 19px;
            position: relative;
            &.active{
                background-color: #fefeff;
                .progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                }
                .progress .progress__bar {
                    height: 100%;
                    width: 0%;
                    animation: fill-bar 10s infinite;
                }
            }
            &#tab1.active{
                .progress {
                    background-color: #ccadfa;
                }
                .progress .progress__bar {
                    background-color: #a26bf8;
                }
            }
            &#tab2.active{
                .progress {
                    background-color: #f9d1c6;
                }
                .progress .progress__bar {
                    background-color: #f4a38b;
                }
            }
            &#tab3.active{
                .progress {
                    background-color: #f3a4be;
                }
                .progress .progress__bar {
                    background-color: #ed4f8a;
                }
            }
            img{
                max-width: 20px;
            }
            h2{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
                padding-left: 15px;
            }
        }
    }
    .cognoTabContent{
        padding: 50px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: all 1s ease;
        transform: translateX(100%);
        &.active{
            display: flex;
            transform: translateX(0);
        }
        .cognoTablistcontent{
            max-width: 533px;
            width: 100%;
        }
        p{
            padding-bottom: 40px;
            font-weight: 500;
            font-size: 18px;
            opacity: 0.8;
            color: #000000;
        }
        ul{
            list-style: none;
            li{
                padding-bottom: 24px;
                padding-left: 45px;
                font-weight: 500;
                font-size: 16px;
                opacity: .8;
                color: #000000;
                position: relative;
                &::before{
                    content: url(../images/tick.svg);
                    position: absolute;
                    left: 0;
                }
            }
        }
        .cognoTabImage{
            max-width: 487px;
            width: 100%;
        }
    }
}

  @keyframes fill-bar {
    from {width: 0%;}
    to {width: 100%;}
  }


  